* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.scene {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scale {
  position: relative;
  width: 100%;
  max-width: 1500px; 
  aspect-ratio: 1500 / 700;
  background: black;
}

.scale video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.scale img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hotspot {
  position: absolute;
  cursor: pointer;
}
#janela {
  width: 14%;
  height: 15%;
  left: 43%;
  top: 35%;
}
#voltar {
  width: 12%;
  height: 7%;
  left: 43%;
  top: 87%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: small;
}
#porta {
  width: 6.66%;
  height: 60%;
  left: 21.33%;
  top: 25.85%;
}
#cama {
  width: 10%;
  height: 10%;
  left: 62%;
  top: 67%;
}
#espelho {
  width: 5%;
  height: 45%;
  left: 72%;
  top: 43%;
}