* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Elite", system-ui;
}

body {
  background-color: black;
}

.scene {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scale {
  position: relative;
  width: 100%;
  max-width: 1500px; 
  aspect-ratio: 1500 / 700;
  background: black;
}

.scale video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.alert-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.alert-box {
    background: #0000005d;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    color: white;
    font-family: sans-serif;
}

.alert-box button {
  
    margin-top: 20px;
    background: #6e6e6e2c;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
}

.alert-box button:hover {
    background: #444444a6;
}
.scale img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hotspot {
  position: absolute;
  cursor: pointer;
}
#trash {
  width: 13%;
  height: 18%;
  left: 19%;
  top: 80%;
}
#fan {
  width: 20%;
  height: 10%;
  left: 42%;
  top: 18%;
}
#chair {
  width: 6%;
  height: 25%;
  left: 54%;
  top: 60%;
}
#windo {
  width: 60%;
  height: 60%;
  left: 20%;
  top: 22%;
}
#janela {
  width: 14%;
  height: 15%;
  left: 43%;
  top: 35%;
}
#voltar {
  width: 12%;
  height: 7%;
  left: 43%;
  top: 87%;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: small;
}
#porta {
  width: 6.66%;
  height: 60%;
  left: 21.33%;
  top: 25.85%;
}
#cama {
  width: 10%;
  height: 10%;
  left: 62%;
  top: 67%;
}
#espelho {
  width: 5%;
  height: 45%;
  left: 72%;
  top: 43%;
}